$primary: green;
$secondary: orange;
$bg-gray: #E2E8F0;
$bg-white: #ffffff;
$body-text: #646464;

$system-fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";