@use '../abstracts/variables' as *;

.btn {
  border: none;
  color: $bg-white;
  background-color: $primary;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &--icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
}
